/* Reset styles for all elements */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Global styles */
body {
  margin: 0;
  font-family: "Plus Jakarta Sans";
  font-size: 1rem;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  text-align: center;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.container {
  width: 100%;
  padding-right: calc(0 * 0.5);
  padding-left: calc(1.5rem * 0.5);
  margin-right: auto;
  margin-left: auto;
}
.d-flex {
  display: flex !important;
}
.flex-column {
  flex-direction: column !important;
}
.flex-shrink-0 {
  flex-shrink: 0 !important;
}
.h-100 {
  height: 100% !important;
}
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
/* Navbar */
.text-primary {
  font-size: 2rem;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar > .container {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}
.collapse:not(.show) {
  display: none;
}
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center;
}
.navbar-brand {
  padding-top: 0.3125rem;
  padding-bottom: 1rem;
  margin-right: auto;
  text-align: center;
  font-size: 1.5rem;
  color: linear-gradient(45deg, #007bff, #6c757d);
  text-decoration: none;
  white-space: nowrap;
}
.navbar-brand:hover, .navbar-brand:focus {
  color: #007bff;
}
.navbar-nav {
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
/* .navbar-nav .show > .nav-link, .navbar-nav .nav-link.active {
  color: rgba(0, 0, 0, 0.9);
}
*/
.nav-item.show .nav-link {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6;
}
.nav-link, .nav-item {
  flex: 1 1 auto;
  flex-basis: 0;
  flex-grow: 1;
  text-align: left;
  width: 100%;
  margin-bottom: calc(-1 * 1px);
  display: block;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  background: none;
  border: 0;
  border-radius: 0.375rem;
}
.nav-link:hover, .nav-link:focus {
  color: rgba(0, 0, 0, 0.9);
  background-color: #f1f3f5;
  isolation: isolate;
  border-color: #e9ecef;
}
.nav-link.disabled {
  color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
  cursor: default;
  background-color: transparent;
  border-color: transparent;
}
ul {
  padding-left: 2rem;
  margin-top: 0;
  margin-bottom: 1rem;
}
/* Toggler */
.navbar-toggler {
  padding: 0.5rem 0;
  font-size: 1.25rem;
  line-height: 1;
  color: rgba(0, 0, 0, 0.55);
  background-color: transparent;
  border: transparent;
  border-radius: 0.375rem;
  transition: box-shadow 0.15s ease-in-out;
}
.navbar-toggler:hover {
  text-decoration: none;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0.1rem;
}
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: url(../file/hamburger-menu.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background-image: url('../file/close-x.png');
  transform: rotate(90deg);
}
.navbar-toggler {
  transition: none;
}
/* Header */
header {
  padding-left: 5rem;
}
.display-3 {
  font-size: calc(1.525rem + 3.3vw);
  font-weight: 300;
  line-height: 1.5;
}
.text-gradient {
  background: -webkit-linear-gradient(45deg, #007bff, #6c757d);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.bg-gradient {
  background-image: linear-gradient(180deg, rgb(0, 123, 255), rgb(109, 118, 126))!important;
  color: #fff;
}
.text-center {
  text-align: center !important;
}
.text-muted {
  color: #6c757d !important;
}
.justify-content-center {
  justify-content: center !important;
}
.align-items-center {
  align-items: center !important;
}
.gap-3 {
  gap: 1rem !important;
}
.gap-4 {
  gap: 1.5rem !important;
}
.badge {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 1em;
  font-weight: 700;
  line-height: 1;
  color: linear-gradient(45deg, rgb(0, 123, 255), rgb(109, 118, 126));
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.375rem;
}
.badge:empty {
  display: none;
}
.btn .badge {
  position: relative;
  top: -1px;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.fw-light {
  font-weight: 200 !important;
}
.fw-bolder {
  font-weight: bolder !important;
}
.fs-2 {
  font-size: calc(3rem + 0.9vw) !important;
}
.fs-3 {
  font-size: calc(1.6rem + 0.9vw) !important;
}
.fs-6 {
  font-size: 1.3rem !important;
}
.d-inline {
  display: inline !important;
}
.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}
.pb-5 {
  padding-bottom: 3rem !important;
}
/* Profile */
img, svg {
  vertical-align: middle;
}
/* Button */
.btn {
  display: inline-block;
  width: 15rem;
  padding: 1rem 2rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #fff;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0.375rem;
  background-color: #007bff;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.btn-primary {
  background-color: linear-gradient(45deg, #007bff, #6c757d);
  color: #f8f9fa;
  border: 1px solid linear-gradient(45deg, #007bff, #6c757d);
  padding: 1rem 2rem;
  margin: 0.5rem;
}
.btn-primary:hover {
  background-color: #f8f9fa;
  color: #212529;
  border: 1px solid #212529;
}
.btn-outline-dark {
  background-color: #f8f9fa;
  color: #212529;
  border: 1px solid #212529;
}
.btn-outline-dark:hover {
  background-color: #007bff;
  color: #f8f9fa;
  border: none;
  transform: translateY(-2px);
}
.btn:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
::file-selector-button {
  font: inherit;
  -webkit-appearance: button;
}

/* Profile */
.profile {
  background: linear-gradient(45deg, #007bffda, #6c757d4d);
  position: relative;
  height: 75vw;
  width: 75vw;
  border-radius: 15%;
  margin: 5vw;
  max-height: 40rem;
  max-width: 40rem;
}
.profile .profile-img {
  height: 70vw;
  max-height: 45rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.profile .dots-1 {
  position: absolute;
  width: 3vw;
  right: 1.5vw;
  top: 4vw;
}
.profile .dots-1 svg {
  fill: #e9ecef;
}
.profile .dots-2 {
  position: absolute;
  width: 3vw;
  right: -4vw;
  top: 6.05vw;
}
.profile .dots-2 svg {
  fill: #007bffce;
}
.profile .dots-3 {
  position: absolute;
  width: 3vw;
  left: 1.5vw;
  bottom: 6.05vw;
}
.profile .dots-3 svg {
  fill: #e9ecef;
}
.profile .dots-4 {
  position: absolute;
  width: 3vw;
  left: -4vw;
  bottom: 4vw;
}
.profile .dots-4 svg {
  fill: #007bffce;
}
/* About section */
.display-5 {
  font-size: calc(1.425rem + 2.1vw);
  font-weight: 300;
  line-height: 1.5;
}
.bg-light {
  background-color: rgba(248, 249, 250, 1) !important;
}
.px-5 {
  padding-right: 3rem !important;
  padding-left: 3rem !important;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * 0);
  margin-right: calc(-0.5 *1.5rem);
  margin-left: calc(-0.5 * 1.5rem);
}
.my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}
.text-gradient {
  background: -webkit-linear-gradient(45deg, #007bff, #6c757d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.lead {
  font-size: 1.25rem;
  font-weight: 300;
}
h2, .h2 {
  font-size: calc(1.325rem + 0.9vw);
  font-weight: 500;
}
.p-0 {
  margin: 0.2rem;
  font-size: 1.6rem;
}
.section {
  margin-left: 12rem;
  margin-bottom: 1rem;
  padding: 1rem !important;
  border: 1px solid #8d969e;
  width: 80%;
}
/* footer */
.mt-auto {
  margin-top: auto !important;
}
a {
  color: rgb(5, 38, 44);
  text-decoration: none;
}
a:hover {
  color: #1826c2;
}
a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}
